<%-include('./includes/user-header.ejs')-%>
  <link rel="stylesheet" href="/stylesheets/nav-bar2.css">
  <link rel="stylesheet" href="/stylesheets/form.css">
  <div class="form-body">
    <div class="container">
      <header>Registration</header>

      <form action="#">
        <div class="fields">
        <div class="input-field3">
          <label>Doc No</label>
          <input type="number">
      </div>
      <div class="input-field3">
        <label>To pincode</label>
        <input style="width: 160px;" type="number">
    </div>
    <div class="input-field3">
      <label>To Center</label>
      <input type="number">
  </div>
</div>
<div class="fields">
  <div class="input-field4">
    <label>Sender Name</label>
    <input type="text">
</div>
<div class="input-field4">
  <label>Sender Address</label>
  <input type="text">
</div>
<div class="input-field4">
  <label>Sender City</label>
  <input type="text">
</div>
<div class="input-field4">
  <label>Sender pincode</label>
  <input type="number">
</div>
</div>
<div class="fields">
<div class="input-field3">
  <label>Receiver name</label>
  <input type="text">
</div>
<div class="input-field3">
  <label>Receiver address</label>
  <input type="text">
</div>
<div class="input-field3">
  <label>Receiver City</label>
  <input type="text">
</div>
</div>
<div class="fields">
  <div class="input-field7">
    <label for="">Type</label>
          <select id="type" name="type">
            <option value="Yes">Select</option>
            <option value="standard">Standard</option>
            <option value="value-plus">Value Plus</option>            
          </select>
</div>
<div class="input-field7">
  <label for="">Service</label>
  <select id="type" name="Service">
    <option value="Yes">Select</option>
    <option value="standard">Standard</option>            
  </select>
</div>
<div class="input-field7">
  <label for="">Travel By</label>
  <select id="type" name="Travel By">
    <option value="Yes">Select</option>
    <option value="air">Air</option>
    <option value="surface">Surface</option>            
  </select>
</div>
<div class="input-field7">
  <label for="">Child Badge</label>
  <select id="type" name="">
    <option value="Yes">Select</option>
    <option value="Yes">Yes</option>
    <option value="No">No</option>            
  </select>
</div>
<div class="input-field7">
  <label for="">Insured</label>
  <select id="type" name="">
    <option value="Yes">Select</option>
    <option value="Yes">Yes</option>
    <option value="No">No</option>            
  </select>
</div>
<div class="input-field7">
  <label for="">C.O.D</label>
  <select id="type" name="">
    <option value="Yes">Select</option>
    <option value="Yes">Yes</option>
    <option value="No">No</option>            
  </select>
</div>
<div class="input-field7">
  <label>Values R.s</label>
  <input type="number">
</div>
</div>
<div class="fields">
  <div class="input-field5">
    <label>Weight</label>
    <input type="number">
  </div>
  <div class="input-field5">
    <label>Description</label>
    <input type="text">
  </div>
  <div class="input-field5">
    <label>Length</label>
    <input type="number">
  </div>
  <div class="input-field5">
    <label>Width</label>
    <input type="number">
  </div>
  <div class="input-field5">
    <label>Height</label>
    <input type="number">
  </div>
</div>
<div class="fields">
  <div class="input-field5">
    <label>Content</label>
    <input type="text">
  </div>
  <div class="input-field5">
    <label>Sender Gst number</label>
    <input type="number">
  </div>
  <div class="input-field5">
    <label for="">Is SEZ</label>
    <select id="type" name="">
      <option value="Yes">Select</option>
      <option value="Yes">Yes</option>
      <option value="No">No</option>            
    </select>
  </div>
  <div class="input-field5">
    <label for="">Is e-Way</label>
    <select id="type" name="">
      <option value="Yes">Select</option>
      <option value="Yes">Yes</option>
      <option value="No">No</option>            
    </select>
  </div>
  <div class="input-field5">
    <label>e-Way Bill Number</label>
    <input type="number">
  </div>
</div>
<div class="fields">
  <div class="input-field8">
    <label for="">Payment Mode</label>
    <select id="type" name="">
      <option value="Yes">Select</option>
      <option value="Yes">Cash</option>
      <option value="No">Account</option>            
    </select>
  </div>
  <div class="input-field8">
    <label>Charges</label>
    <input type="number">
  </div>
  <div class="input-field8">
    <label>COD Charges</label>
    <input type="number">
  </div>
  <div class="input-field8">
    <label>SGST</label>
    <input type="number">
  </div>
  <div class="input-field8">
    <label>CGST</label>
    <input type="number">
  </div>
  <div class="input-field8">
    <label>IGST</label>
    <input type="number">
  </div>
  <div class="input-field8">
    <label>CESS/KFC</label>
    <input type="number">
  </div>
  <div class="input-field8">
    <label>Freight</label>
    <input type="number">
  </div>
</div>
<div class="fields">
  <div class="input-field4">
<label>Whatsapp Mobile Number</label>
  </div>
  <div class="input-field4">
    <label>Sender</label>
    <input type="number">
      </div>
      <div class="input-field4">
        <label>Receiver</label>
        <input type="number">
          </div>
          <div class="input-field4">
            <label>Pan Number</label>
            <input type="number">
              </div>

</div>
<div class="fields">
<label>Email</label>
  <div class="input-field3">
    <label>Sender</label>
    <input type="text">
      </div>
      <div class="input-field3">
        <label>Receiver</label>
        <input type="text">
          </div>
</div>
<div style="text-align:center;">  
  <input type="submit" style="background-color: green; color: white; padding: 3px; margin: 5px;" />  
</div> 
      </form>
  </div>

  </div>

  <script>
    const form = document.querySelector("form"),
        nextBtn = form.querySelector(".nextBtn"),
        backBtn = form.querySelector(".backBtn"),
        allInput = form.querySelectorAll(".first input");
nextBtn.addEventListener("click", ()=> {
    allInput.forEach(input => {
        if(input.value != ""){
            form.classList.add('secActive');
        }else{
            form.classList.remove('secActive');
        }
    })
})

backBtn.addEventListener("click", () => form.classList.remove('secActive'));

  </script>


<%-include('./includes/user-footer.ejs')-%>
