<%-include('./includes/user-header.ejs')-%>

<style>
    .body-div{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4070f4;
}
.container{
    position: relative;
    max-width: 80%;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
.count{
    background-color: aliceblue;
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 4px;
}
.container form{
    position: relative;
    margin-top: 5px;
    min-height:240px;
    background-color: #fff;
    overflow: hidden;
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field4{
    display: flex;
    width: calc(100% / 4 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
form .fields .input-field1{
    display: flex;
    width: calc(100% / 1 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 5px;
    height: 42px;
    margin: 8px 0;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
<div class="body-div">
    <div class="container">
        <div style="margin: 5px;">
            <h1>DELIVERY RUN SHEET</h1>
        </div>
        <div>
        <button class="button">
            Unlock DRS
        </button>
    </div>
    <form action="">
    <div class="fields">
        <div class="input-field4">
            <label for="">Issue Date</label>
            <input type="date">
        </div>
   
   
        <div class="input-field4">
            <label for="">Seleect Area</label>
            <select name="" id="">
                <option value="">Select</option>
                <option value=""></option>
            </select>
        </div>
   
    
        <div class="input-field4">
            <label for="">Seleect Delivery Boy</label>
            <select name="" id="">
                <option value="">Select</option>
                <option value=""></option>
            </select>
        </div>
   
    
        <div class="input-field4">
            <label for="">Delivery Pincode</label>
            <select name="" id="">
                <option value="">Select</option>
                <option value=""></option>
            </select>
        </div>
    </div>
    
    <div class="fields">
        <div class="input-field1">
        <label for="">Document Number</label>
        <input type="number">
    </div>
    </div>
    <button class="button">Create</button>
    <div class="count">
        Count:<span>0</span>
    </div>
</form>
<div style="padding: 5px;margin: 5px;
display: inline-block;">
    <h3>Manage DRS</h3>
</div>
<div style="padding: 5px; display: inline-block;
margin-left: 45%; margin-bottom: 25px;">
    <label for="">Search By Date</label>
    <input type="date">
</div>
<table id="customers">
<thead>
    <tr>
        <th>DRS Number</th>
        <th>Company Name</th>
        <th>Area</th>
        <th>Delivery Boy Name</th>
        <th>Issue Date</th>
        <th>Drs Type</th>
        <th>COD Cash Collected</th>
        <th>COD Online Collected</th>
        <th>COD Collection Pending</th>
        <th>Total COD Amount</th>
        <th>Action</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td><input type="number"></td>
        <td><select name="" id="">
            <option value="">Select</option>
            <option value=""></option>
        </select></td>
        <td><select name="" id="">
            <option value="">Select</option>
            <option value=""></option>
        </select></td>
        <td><select name="" id="">
            <option value="">Select</option>
            <option value=""></option>
        </select></td>
        <td></td>
        <td><select name="" id="">
            <option value="">Select</option>
            <option value=""></option>
        </select></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

    </tr>
</tbody>
</table>
    </div>

</div>
<%-include('./includes/user-footer.ejs')-%>